altgraph==0.17.5
coverage==7.13.5
et_xmlfile==2.0.0
gitdb==4.0.12
GitPython==3.1.41
iniconfig==2.3.0
numpy==2.4.4
openpyxl==3.1.5
packaging==26.0
pandas==3.0.2
pluggy==1.6.0
Pygments==2.20.0
pyinstaller==6.19.0
pyinstaller-hooks-contrib==2026.4
PyQt6==6.11.0
PyQt6-Qt6==6.11.0
PyQt6_sip==13.11.1
PySide6_Addons==6.11.0
PySide6_Essentials==6.11.0
pytest==9.0.2
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
ruff==0.15.9
setuptools==78.1.1
shiboken6==6.11.0
six==1.17.0
smmap==5.0.3
xlrd==2.0.2
